/* Comman */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Orbitron', sans-serif;
    background: #1e1e20;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.container{
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 20px 50px 0px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  background: rgba(18, 18, 19, 0.4);
  border: 1px solid rgb(64, 64, 64);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  padding: 50px;
}

.description{
  font-size: 20px;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
}

.title {
  border: 1px solid rgb(64, 221, 227);
  border-radius: 25px;
  background: rgb(18, 18, 19);
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  margin: 0 auto 20px;
  display: inline-block;
}



/* Header Section */
.nav-bar{
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
}

.launch-btn{
    width: 195px;
    height: 51px;
    border-radius: 5px;
    background: rgb(64, 221, 227);
    border: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 23px;
}

/* Main Section */


/* Meet Hasrid Section */
.meet-section{
  margin: 0 100px;
}

/* .meet-container{
  
} */

.meet-desc-1{
  margin-top: 60px;
  margin-bottom: 40px;
}




/* Features Section */

.features-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.features-grid div:nth-child(1),
.features-grid div:nth-child(2),
.features-grid div:nth-child(3) {
  grid-column: span 2;
}

.features-grid div:nth-child(4),
.features-grid div:nth-child(5) {
  grid-column: span 3;
}

.feature-description{
  margin-top: 20px;
  margin-bottom: 40px;
}


.card {
  position: relative;
  background: rgba(24, 24, 24, 0.9);
  border: 1px solid rgba(0, 255, 255, 0.15);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.05);
  border-radius: 15px;
  padding: 30px 20px 20px;
  transition: 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 35px rgba(0, 255, 255, 0.2);
  border: 1px solid rgba(0, 255, 255, 0.4);
}

.card-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
}

.card-icon img {
  width: 100%;
  filter: drop-shadow(0 0 6px #40dde3);
  border: 1px solid #40dde3;
  padding: 4px;
  border-radius: 100%;
}

.card-image {
  width: 160px;
  margin: 0 auto 20px;
  display: block;
}

.card h3 {
  font-size: 17px;
  margin-bottom: 10px;
  text-align: left;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
  width: 90%;
  text-align: left;
}

.card-bottom{
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.card-bottom div{
  display: flex;
  flex-direction: column;
}



/* How To Use Section */
.how-to-use-container{
  border: none;
  box-shadow: none;
  background: none;
}

.how-to-use-description{
  margin-top: 20px;
  margin-bottom: 40px;
}

.steps-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.step-card{
  display: flex;
  flex-direction: column;
  padding: 30px 5px;
  align-items: left;
}

.step-card div{
  padding-left: 15px;
}


/* Partners Section */
.partners-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.partners-card{
  width: 100%;
  border: 1px solid grb(64, 64, 64);
  border: 10px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  background: rgba(18, 18, 19, 0.4);
  padding: 10px 20px;
}


.partners-card img{
  width: 250px;
  padding: 10px;
}

.partners-desc{
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Ready */
.ready-section {
  position: relative;
  width: 80%;
  margin: 120px auto 100px;
  text-align: center;
  border: 2px dashed white;
  
}

.ready-text {
  font-size: 55px;
  text-align: left;
  font-weight: 600;
  line-height: 1.4;
  background: linear-gradient(133.06deg, #292929, #ffffff, #676767, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  z-index: 1;
  position: relative;
  
}


.input-container {
  position: absolute;
  left: 80%;
  width: 370px;
  bottom: -20px;
  transform: translateX(-50%);
  display: flex;
  background-color: #0d0d0d;
  border: 2px solid #00f0ff;
  border-radius: 8px;
  padding: 5px;
  z-index: 2;
}

.ready-input {
  padding: 10px 13px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  width: 250px;
}

.ready-input::placeholder {
  color: #888;
}

.ready-btn {
  padding: 12px 16px;
  background-color: #00f0ff;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ready-btn:hover {
  background-color: #00c0cc;
}


/* FAQs Section */
.faq-container{
  border: none;
  box-shadow: none;
  background: none;
}




/* Footer Section */
.footer-section {
  background-color: #0c0c0c;
  font-size: 15px;
  display: flex;
}

.footer-container{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px;
}




.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-link li {
  transition: color 0.3s;
}

.footer-link li:hover {
  color: #00ffff;
}

.footer-social {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.footer-social img{
    width: 40px;
    display: flex;
    gap: 10px;
}



.footer-social a i {
  font-size: 18px;
  color: #e0e0e0;
  transition: color 0.3s;
}

.footer-social a:hover i {
  color: #00ffff;
}